/******************************************************************************************************************
 **************************************************** NAVBAR ***************************************************
 ******************************************************************************************************************/

.navb .navb-container{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #323232;
	box-shadow: 0px 0px 15px #222;
	z-index: 1050;
}

.navb .navb-container li {
	display: inline-block;
	height: 50px;
	line-height: 47px;
	text-align: center;
	color: #FFF;
	cursor: pointer;
}

.navb .navb-container li hr {
	width: 0;
	height: 3px;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #0FA2CB;
	border-color: #0FA2CB;
	border-radius: 0;
	-webkit-transition : width .2s ease-out;
	-moz-transition : width .2s ease-out;
	-o-transition : width .2s ease-out;
	transition : width .2s ease-out;
}

.navb .navb-container li:hover hr {
	width: 100%;
}
